@model TraversalCoreProject.Models.CityClassViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Şehir - Ülke İşlemleri</h1>
<br />
<a type="button" id="btnGetList" class="btn btn-outline-info">Şehir Listesi</a>
<a type="button" id="btnGetById" class="btn btn-outline-primary">Şehir Getir</a>
<a type="button" id="btnAdd" class="btn btn-outline-warning">Şehir Ekle</a>
<a type="button" id="btnDelete" class="btn btn-outline-danger">Şehir Sil</a>
<a type="button" id="btnUpdate" class="btn btn-outline-success">Şehir Güncelle</a>
<br /><br />


<div id="cityList">
    <h4>Buraya Şehir Gelecek</h4>
</div>
<br />

<div>
    <input type="text" class="form-control" id="txtId" placeholder="Şehir ID" />
</div>
<br />
<div id="cityList">
    <h4>Silme İşlemleri</h4>
</div>
<br />
<div>
    <input type="text" class="form-control" id="txtDeleteId" placeholder="Silinecek Şehir ID" />
</div>
<br />
<div>
    <input type="text" class="form-control" id="txtEditId" placeholder="Güncellenecek Şehir ID" />
    <br />
    <input type="text" class="form-control" id="txtEditCity" placeholder="Şehir Adı" />
    <br />
    <input type="text" class="form-control" id="txtEditDayNight" placeholder="Gün - Gece" />
</div>
<br />
<div id="destinationListById" >

</div>

<br />
<div >
    <input type="text" class="form-control" id="txtCity" placeholder="Şehir Adı" />
    <br />
    <input type="text" class="form-control" id="txtDayNight" placeholder="Gün - Gece" />
    <br />
    <input type="text" class="form-control" id="txtPrice" placeholder="Fiyat" />
    <br />
    <input type="text" class="form-control" id="txtCapacity" placeholder="Kapasite" />
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $('#btnGetList').click(function () {
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'GET',
            url: '/Admin/City/CityList',
            success: function (func) {
                let w = jQuery.parseJSON(func);
                console.log(w);
                let tableHtml = '<table class="table table-bordered"><tr> <th>Şehir Adı</th> <th>Gün - Gece</th> <th>Fiyat</th> </tr>';
                $.each(w, function (index, value) {
                    tableHtml += '<tr><td>' + value.City + '</td><td>' + value.DayNight + '</td><td>' + value.Price + ' ₺</td></tr>';
                });
                tableHtml += '</table>';
                $('#cityList').html(tableHtml);
            }
        });
    });

    $('#btnAdd').click(function () {
        console.log("Merhaba");
        let cityValues = {
            City: $('#txtCity').val(),
            DayNight: $('#txtDayNight').val(),
            Price: $('#txtPrice').val(),
            Capacity: $('#txtCapacity').val()
        };
        console.log(cityValues);
        $.ajax({
            type: 'POST',
            url: '/Admin/City/AddCityDestination/',
            data: cityValues,
            success: function (func) {
                let result = jQuery.parseJSON(func);
                alert("Şehir - Rota Başarılı Bir Şekilde Eklendi!");
            },
            error: function (func) {
                alert("Şehir - Rota Eklenirken Bir Hata Oluştu!");
            }
        });
    });

    $('#btnGetById').click(x => {
        let id = $('#txtId').val();
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'GET',
            url: '/Admin/City/GetById/' + id,
            success: function (func) {
                console.log(func);
                let result = jQuery.parseJSON(func);
                console.log(result);
                let htmlstr = `<table class = "table table-bordered">
                <tr><th>Şehir Adı</th><th>Gün - Gece</th><th>Fiyat</th></tr>
                <tr><td>${result.City}</td><td>${result.DayNight}</td><td>${result.Price}</td>
                </tr></table>`;
                $('#destinationListById').html(htmlstr);
            },
            error: function (message) {
                console.log(message);
                alert(message);
            }
        });
    });

    $('#btnDelete').click(x => { 
        let id = $('#txtDeleteId').val();
        $.ajax({
            url: '/Admin/City/DeleteCity/' + id,
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (func3) {
                alert("Şehir - Rota Başarılı Bir Şekilde Silindi!");
            },
        });
    });

    $('#btnUpdate').click(x => { 
        let values = {
            Id: $('#txtEditId').val(),
            City: $('#txtEditCity').val(),
            DayNight: $('#txtEditDayNight').val()
        };
        $.ajax({
            url: '/Admin/City/UpdateCity/',
            type: 'POST',
            data: values,
            success: function (func4) {
                alert("Şehir - Rota Başarılı Bir Şekilde Güncellendi!");
            },
        });
    });
</script>