@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("/Views/MemberLayoutPartial/_HeaderPartial.cshtml")
<body class="g-sidenav-show  bg-gray-100">
   @await Html.PartialAsync("/Views/MemberLayoutPartial/_SidebarPartial.cshtml")
    <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
        @await Html.PartialAsync("/Views/MemberLayoutPartial/_NavbarPartial.cshtml")

        <div class="container-fluid py-4">
            @RenderBody()
            @await Html.PartialAsync("/Views/MemberLayoutPartial/_FooterPartial.cshtml")
        </div>
    </main>
    @await Html.PartialAsync("/Views/MemberLayoutPartial/_RightBarPartial.cshtml")
    @await Html.PartialAsync("/Views/MemberLayoutPartial/_ScriptsPartial.cshtml")
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>

